services:
  asset:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: AssetManagementService

    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: asset_management
    ports:
      - "8000:8080"
    networks:
      - backend
    depends_on:
      postgres:
        condition: service_healthy

  reservation:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: ReservationService
    ports:
      - "8001:8080"
    environment:
      ASSET_MANAGEMENT_SERVICE_URL: http://asset:8080
    networks:
      - backend

  postgres: # <- Ala a Hostname
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-databases.sql:/docker-entrypoint-initdb.d/init-databases.sql:ro
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-web-ui:
    image: dpage/pgadmin4
    ports:
      - "8081:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: password
    depends_on:
      - postgres
    networks:
      - backend

networks:
  backend:
volumes:
  postgres-data:
  pgadmin-data:
