services:
  asset:
    # Configuration for building the image
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: AssetManagementService
    # Map the port 8080 of the container to the port 8000 of the host
    ports:
      - "8000:8080"
    networks:
      - backend

  reservation:
    # Configuration for building the image
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: ReservationService
    ports:
      - "8001:8080"
    environment:
      # URLs are relative to the container, so we need to use the service name
      # and the port of the asset service
      ASSET_MANAGEMENT_SERVICE_URL: http://asset:8080
    networks:
      - backend

  postgres:
    image: postgres:18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: backend
    volumes:
      - postgres-data:/var/lib/postgresql/data

  postgres-web-ui:
    image: dpage/pgadmin4
    ports:
      - "8081:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: password
    depends_on:
      - postgres

networks:
  backend:

volumes:
  postgres-data: